.login_full {
    text-align: center;
    color: var(--color-main-blue);
    display: grid;
    grid-template-columns: 1fr 1fr
}

.login_img {
max-width: 800px;
overflow: hidden;
background-size: 100px;
height: 100vh;
}

.login_text {
    width: 50%;
    vertical-align: middle;
    margin-top: 10em;
    margin-left: 3em;
}

.textsm {
    font-size: var(  --font-xsmall);
}

.textbtnW{
    color: #195280;
    text-align: right;
    font-size: var(  --font-xsmall);

}



.simplebtn {
    font-size: var(   --font-medium);
    background-color: var( --color-main-blue);
    color: white;
    width: 15em;
}

.simplebtn:hover {
    text-align: left;
    font-size: var(   --font-medium);
    border: 1px solid var( --color-main-blue);
    color: var( --color-main-blue);
}




.simplebtn2 {
    text-align: left;
    font-size: var(   --font-medium);
    color: var( --color-main-blue);
    border: 1px solid var( --color-main-blue);
    width: 15em;
}

.simplebtn2:hover {
    text-align: left;
    font-size: var(   --font-medium);
    background-color: var( --color-main-blue);
    color: white;
}


.textm {
    margin-top: 7px;
    font-size: var(  --font-small);
}

.text0 {
    background-color: #195280;
    color: white;
    
}