.login_full {
    text-align: center;
    color: var(--color-main-blue);
}

.textsm {
    font-size: var(  --font-xsmall);
}


.textbtn {
    text-align: right;
    font-size: 3px;
}


.simplebtn {
    text-align: left;
    font-size: var(   --font-medium);
    background-color: var( --color-main-blue);
    color: white;
}

.simplebtn:hover {
    text-align: left;
    font-size: var(   --font-medium);
    border: 1px solid var( --color-main-blue);
    color: var( --color-main-blue);
}




.simplebtn2 {
    text-align: left;
    font-size: var(   --font-medium);
    color: var( --color-main-blue);
}

.simplebtn2:hover {
    text-align: left;
    font-size: var(   --font-medium);
    background-color: var( --color-main-blue);
    color: white;
}


.textm {
    margin-top: 7px;
    font-size: var(  --font-small);
}

.text0 {
    background-color: #195280;
    color: white;
    
}