.makeplanall {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    margin:0 auto;
    border: 1px solid var(--color-gray);
    margin: 10px;

}

.title{
  display: flex;  
  margin-top : 1em;
  margin-bottom: 1em;
}

.title button {
    margin-left: 5px;
    background-color: none;
}

.datelist {
    display: flex;   
}


.datelist p{
    margin-left: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
}


.datelist h3 {
    margin-left: 10px;
    margin-top: 4px;
}

.days  {
    margin-top: 10px;
}