.myplan {
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content : center;
}

.myplantitlewrap{
    width: 100%; 
    height: 200px;
    position: relative; 
}
.myplantitle{
    width: 50%; 
    position: absolute; 
    margin: auto;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    left:25%;
    top:10%;
}

.profileimg {
    min-width: 140px;
    height: 140px;
    background-color: var( --color-main-blue);
    border-radius: 100%;
}

.titletextplus {
    width: 100%;
    position: relative; 
}

.addround{
font-weight: bold;
margin-top: 10px;
color: var( --color-main-blue);
}

.addround:hover{
    font-weight: bolder;
    margin-top: 10px;
    color: var( --color-main-blue);
    }

    .text {
        width: 120px;
        padding: 10px;
        background-color: var( --color-main-blue);
        position: absolute;
        color: white;
        border-radius: 10%;
        left:42%;
    }

@media (max-width: 768px) { 
    .myplan {
        width: 100%;
    }
    
    .myplantitlewrap{
        height: 180px;
        display: grid;
    }
    .myplantitle{
        top:5%;
    }
    
    .profileimg {
        min-width: 140px;
        height: 140px;
        background-color: var( --color-main-blue);
        border-radius: 100%;
        display: flexbox;
        position: relative;
        left: -70px;
    }
    
    .titletextplus {

    }
    
    .addround{
    font-weight: bold;
    margin-top: 10px;
    color: var( --color-main-blue);
    }

    .titletext{
        width: 100px;
    }

    .addround:hover{
        font-weight: bolder;
        margin-top: 10px;
        color: var( --color-main-blue);
        }
        .text {
            width: 110px;
            padding: 10px;
            background-color: var( --color-main-blue);
            color: white;
            left: 0px;
        }

}