.user{
    flex-grow: 1;
}

.title {
    margin: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}
.main_title {
    margin-top: 35px;
}
.name_title {
    display: flex;
}

.container {
    margin: 30px;
    margin-left: -250px;
}

.preview {
    border-radius: 100%;
    margin: 30px;
    border:2px solid lightgray;
    height: 130px;
    width: 130px;
    overflow: hidden;
    cursor: pointer;
}
.name {
    display: flex;
    font-size: x-large;
}
.comment {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
}
.user_title {
    width: 300px;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.pages {
    display: flex;
}

.button {
    background-color: white;
    border: 1px solid lightgray;
    font-weight: bold;
    border-radius: 4px;
    width: 130%;
    height: 100%;
    cursor: pointer;
}
.button1 {
    padding-left: 20px;
    height: 30px;
    width: 94px;
}
@media (max-width: 1300px) {
    .container {
        margin: 30px;
    }
}

@media (max-width: 768px) {
    .preview {
        height: 100px;
        width: 100px;
    }
    .container {
        margin: 30px;
    }
    .title {
        margin-left: -100px;
    }
    .button {
        width: 250px;
        margin-top: 40px;
        margin-left: -87px;
    }
    .user_title {
        display: none;
    }
    .comment {
        margin-top: 50px;
    }
}
