.user {
  flex-grow: 1;
}

.title {
  display: flex;
  margin: 20px;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray);
}
.main_title {
  margin-top: 35px;
}
.name_title {
  display: flex;
}
.preview {
  border-radius: 100%;
  margin: 30px;
  border: 2px solid var(--color-gray);
  height: 130px;
  width: 130px;
  overflow: hidden;
  cursor: pointer;
}
.name {
  display: flex;
  font-size: x-large;
}
.comment {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 51px;
  white-space: nowrap;
}

.user_title {
  width: 300px;
  display: flex
}

.postmenu {
  font-size: small;
  margin-bottom: 30px;
}
.postmenu li {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}
.postmenu ul {
  justify-content: center;
  display: flex;
}
.button {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  font-weight: bold;
  border-radius: 4px;
  width: 130%;
  height: 100%;
  cursor: pointer;
}
.button1 {
  padding-left: 20px;
  height: 30px;
  width: 94px;
}

/*포스트 css*/
.post_main {
  text-align: center;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  width: 280px;
  height: 200px;
  margin-left: 300px;
  margin-top: 30px;
}
.post_comment {
  color: var(--color-gray);
}
.post_button {
  background-color: var(--color-main-green3);
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  color: var(--color-white);
  margin-top: 30px;
  cursor: pointer;
}
.post_memo {
  margin-top: 30px;
}
.container {
  width: 200px;
  margin: 0 auto;
  position: relative;
}
.file_box {
  position: absolute;
  bottom: -10px;
  right: 45px;
}
@media (max-width: 1300px) {
  .post_main {
    margin-left: 150px;
  }
}

@media (max-width: 768px) {
  .preview {
    height: 100px;
    width: 100px;
  }
  .container {
    margin: 30px;
  }
  .title {
    margin-left: -100px;
  }
  .button {
    width: 250px;
    margin-top: 40px;
    margin-left: -87px;
  }
  .user_title {
    display: none;
  }
  .comment {
    display: none;
  }
  .post_main {
    margin: 15px;
    margin-left: 90px;
  }
}