.user {
  flex-grow: 1;
}

.title {
    display: flex;
    margin: 20px;
    justify-content: center;
    border-bottom: 1px solid var(--color-gray);
}
.main_title {
  margin-top: 35px;
}
.name_title {
  display: flex;
}
.preview {
  border-radius: 100%;
  margin: 30px;
  border: 2px solid var(--color-gray);
  height: 130px;
  width: 130px;
  overflow: hidden;
  cursor: pointer;
}
.name {
  display: flex;
  font-size: x-large;
}
.comment {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 51px;
  white-space: nowrap;
}

.user_title {
  display: flex;
  width: 300px;
}

.postmenu {
  font-size: small;
  margin-bottom: 30px;
}
.postmenu li {
    display: flex;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
}
.postmenu ul {
    display: flex;
    justify-content: center;
}
.button {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  font-weight: bold;
  border-radius: 4px;
  width: 130%;
  height: 100%;
  cursor: pointer;
}
.button1 {
  padding-left: 20px;
  height: 30px;
  width: 94px;
}



@media (max-width: 1300px) {
    .post_main {
        margin-left: 150px;
    }
}

@media (max-width: 768px) {
  .preview {
    height: 100px;
    width: 100px;
  }
  .container {
    margin: 30px;
  }
  .title {
    margin-left: -100px;
  }
  .button {
    width: 250px;
    margin-top: 40px;
    margin-left: -87px;
  }
  .user_title {
    display: none;
  }
  .comment {
    display: none;
  }
  .post_main {
    margin: 15px;
    margin-left: 90px;
  }
}
