.container {
  display: flex;
  flex-direction: column;
  gap: 25vh;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}
.set {
  margin-top: 15vh;
}
.item {
  font-size: 28px;
  height: 9vh;
  cursor: pointer;
}
.item a,
.item > div {
  display: flex;
  align-items: center;
}
.profile_wrap{
  width : 25px;
  height : 25px;
}
.profile_wrap img{
  width : 100%
}
.userName{
  font-weight: 700;
}
.item a:hover,
.item > div:hover {
  border-radius: 1em;
  background-color: var(--color-light-gray);
}
.item span {
  margin-left: 10px;
  font-size: 18px;
}
@media (max-width: 1300px) {
  .item span {
    display: none;
  }
  .nav {
    padding: 0;
    padding-left: 25px;
  }

  .item a,
  .item > div {
    width: 20px;
  }
  .item a:hover,
  .item > div:hover {
    background-color: var(--color-white);
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
  }
  .nav {
    width: 100%;
    flex-direction: row;
    padding: 0;
    padding-top: 10px;
  }
  .set {
    margin: 0;
  }
  .item {
    height: inherit;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .search {
    display: none;
  }
}
